<app-register-general-data (finish_selected)="classification_category_selected($event)" 
    [register_types_block]="register_types_block" 
    [is_new_register]="is_new_register" 
    [registers_on_establishment]="establishment_registers" 
    [ruc]="ruc" 
    [establishment]="establishment" 
    [register]="register" 
    [opcion_seleccionada]="opcion_seleccionada" 
    [editable]="editable" 
    [modules_activation]="modules_activation">
</app-register-general-data>
<app-sales-representative-data *ngIf="register_validated.activity_id == 3"
    [classification_selected_code]="classificationSelectedCode"
    [register]="register_validated"
    [editable]="editable">
</app-sales-representative-data>
<app-tour-guide-data *ngIf="register_validated.activity_id == 3"
    [register_types_block]="register_types_block" 
    [register]="register_validated"
    [editable]="editable">
</app-tour-guide-data>
<app-turistic-transport-data *ngIf="register_validated.activity_id == 3"
    [classification_selected_code]="classificationSelectedCode"
    [register]="register_validated"
    [editable]="editable">
</app-turistic-transport-data>
<app-capacidades-al-data *ngIf="register_validated.activity_id == 1"></app-capacidades-al-data>
<app-complementary-services-al-data *ngIf="register_validated.activity_id == 1"
    [register]="register_validated"
    [editable]="editable">
</app-complementary-services-al-data>
<app-capcidades-ab-data *ngIf="register_validated.activity_id == 2" 
    [register]="register_validated"
    [register_types]="register_types_block.register_types_alimentos_bebidas"
    [classification_selected_code]="classificationSelectedCode"
    [editable]="editable" 
    [is_new_register]="is_new_register"
    (lista_precios)="lista_precios_ab($event)">
</app-capcidades-ab-data>
<app-prestaciones-ab-data *ngIf="register_validated.activity_id == 2" 
    [register]="register_validated"
    [register_types]="register_types_block.register_types_alimentos_bebidas"
    [classification_selected_code]="classificationSelectedCode"
    [editable]="editable">
</app-prestaciones-ab-data>
<app-adventure-data [register]="register_validated"
    [editable]="editable" 
    *ngIf="register_validated.activity_id != 0">
</app-adventure-data>
<app-requisites-data (authorization_condominos)="authorization_condominos($event)" 
    (property_title)="property_title($event)" 
    (floor_authorization_certificate)="floor_authorization_certificate($event)" 
    (category_change_requisites)="category_change_requisites($event)"
    [register_types_block]="register_types_block"
    [establishment]="establishment" 
    [register]="register_validated" 
    [editable]="editable" 
    [requisites]="requisites" *ngIf="showRequisites">
</app-requisites-data>