<div class="row mt-3">
    <h4 class="col-12">
        <strong>Registro Único de Contribuyente</strong>
    </h4>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label>Número de RUC</label><span *ngIf="!rucValidated" class="ml-2 badge badge-danger">Incorrecto</span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-primary" title="Consultar con SRI" (click)="checkRuc()">
                        <i class="fas fa-sync"></i>
                    </button>
                </div>
                <input disabled type="text" class="form-control" id="ruc" maxlength="13" placeholder="Número de RUC" [(ngModel)]="this.ruc.number" (keyup)="checkRuc()" name="ruc" />
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="alert alert-info mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Atención</strong></label>
            <p class="col-12 text-justify">
                La información presentada a continuación es proporcionada por el Servicio de Rentas Internas, esta sección tiene carácter informativo, por favor si desea actualizarla debe realizar el trámite en la entidad correspondiente.
            </p>
            <p class="col-12 text-justify">
                <a href="https://srienlinea.sri.gob.ec/" target="_blank">Ir al Sitio Web del SRI</a>
            </p>
        </div>
    </div>
    <div class="col-12" *ngIf="rucValidated">
        <div class="form-group">
            <label>DATOS DEL SRI</label>
            <div class="col-12 text-justify" [innerHTML]="rucData"></div>
        </div>
        <div class="form-group" *ngIf="ruc.tax_payer_type_id > 1">
            <label>DATOS DE LA SUPERINTENDENCIA DE COMPANÍAS</label>
            <div class="col-12 text-justify" [innerHTML]="superciasData"></div>
        </div>
    </div>
</div>
<div class="row" *ngIf="ruc.tax_payer_type_id > 1">
    <div class="col-12">
        <div class="form-group">
          <label for="group_type_id">Tipo de Personería Jurídica*</label>
          <span *ngIf="!validateGroupGivenType()" class="ml-2 badge badge-danger">Incorrecto</span>
          <select class="form-control" id="group_type_id" [disabled]="!editable" name="group_type_id"
            [(ngModel)]="ruc.group_given.group_type_id" (change)="setGroupTypeSelected(ruc.group_given.group_type_id)">
              <option value="0" selected>Seleccione...</option>
              <option *ngFor="let group_type of group_types" value="{{ group_type.id }}">{{ group_type.name }}</option>
          </select>
        </div>
    </div>
    <div class="col-12">
        <div class="alert alert-info mt-2 mb-2" role="alert">
          <label class="col-12 text-justify"><strong>Atención</strong></label>
          <p class="col-12 text-justify">
              El número de expediente para ingresar en esta sección, se lo puede obtener en la página de la Superintendencia de Companías.
          </p>
          <p class="col-12 text-justify">
              <a href="http://appscvsmovil.supercias.gob.ec/portaldedocumentos/consulta_cia_param.zul" target="_blank">
                  Ir al Sitio Web de la Superintendencia de Companías
              </a>
          </p>
        </div>
    </div>
 </div>
  <!-- <div class="row" *ngIf="ruc_registro_selected.ruc.tax_payer_type_id > 1">
    <div class="col-12">
      <div class="form-group">
        <label for="group_type_id">Número de Expediente de la Superintendencia de Companías*</label><span
          *ngIf="ruc_registro_selected.ruc.group_given.register_code === ''" class="ml-2 badge badge-danger">Incorrecto</span>
        <input type="text" [disabled]="!registrarlo || !checkRegistroSupercias()" class="form-control" min="0" id="expediente"
          name="expediente" (keyup)="checkRegistroSupercias()" placeholder="Número de Expediente de la Superintendencia de Companías" [(ngModel)]="ruc_registro_selected.ruc.group_given.register_code"/>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="ruc_registro_selected.ruc.tax_payer_type_id > 1">
    <h4 class="col-12">
      <strong>Representante Legal</strong>
    </h4>
  </div>
  <div class="row" *ngIf="ruc_registro_selected.ruc.tax_payer_type_id > 1">
    <div class="col-4">
      <div class="form-group" *ngIf="ruc_registro_selected.ruc.group_given.group_type_id != 0">
        <label>Cédula
          {{ groupTypeSelected.representative_rol_name }}*</label><span
          *ngIf="!identificationRepresentativePersonValidated"
          class="ml-2 badge badge-danger">Incorrecto</span>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-primary" title="Consultar con Registro Civil"
              (click)="checkIdentificationRepresentant()">
              <i class="fas fa-sync"></i>
            </button>
          </div>
          <input type="text" class="form-control" [disabled]="true" id="identificacionRepresentante" maxlength="10"
            placeholder="Identificación {{
                groupTypeSelected.representative_rol_name
              }}" [(ngModel)]="
                ruc_registro_selected.ruc.person_representative.identification
              " (keyup)="checkIdentificationRepresentant()" name="identificacionRepresentante" />
        </div>
        <small *ngIf="identificationRepresentativePersonValidated" id="cedulaRepresentanteHelp"
          class="form-text text-muted" [innerHTML]="representanteCedulaData"></small>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group" *ngIf="ruc_registro_selected.ruc.group_given.group_type_id != 0">
        <label>Fecha de Nombramiento*</label><span
        *ngIf="!fechaNombramientoOK"
        class="ml-2 badge badge-danger">Incorrecto</span>
        <input type="date" class="form-control" [disabled]="!rucEstablishmentRegisterSelected.editable" id="assignment_date" name="assignment_date" (input)="fechasNombramiento()"
          placeholder="assignmentDate" [ngModel]="
              ruc_registro_selected.ruc.person_representative_attachment.assignment_date | date: 'y-MM-dd'
            " (ngModelChange)="
              ruc_registro_selected.ruc.person_representative_attachment.assignment_date = $event
            " />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group" *ngIf="ruc_registro_selected.ruc.group_given.group_type_id != 0">
        <label>Nombramiento del Representante Legal*</label><span *ngIf="!validateNombramiento()"
          class="ml-2 badge badge-danger">Incorrecto</span>
        <div class="input-group">
          <div class="input-group-prepend">
            <button [disabled]="!validateNombramiento()" type="button" title="Descargar"
              class="btn btn-success" (click)="descargarNombramiento()">
              <i class="fas fa-download"></i>
            </button>
            <button [disabled]="!validateNombramiento()" [disabled]="!rucEstablishmentRegisterSelected.editable" type="button" title="Eliminar"
              class="btn btn-danger" (click)="borrarNombramiento()">
              <i class="fas fa-trash"></i>
            </button>
          </div>
          <input type="file" class="form-control" [disabled]="!rucEstablishmentRegisterSelected.editable" id="person_representative_attachment_file"
            name="person_representative_attachment_file" accept="application/pdf" placeholder="Nombramiento Representante del Legal"
            (change)="CodeFilePersonRepresentativeAttachment($event)">
        </div>
        <small class="col-12">
          <div class="alert alert-info mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Información</strong></label><br />
            <p>Verifique que el nombre del archivo que está cargando sea de longitud menor a 25 caracteres</p>
          </div>
        </small>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="SRIOK">
    <div class="col-12">
      <div class="alert alert-danger mt-3" role="alert" *ngIf="!validateRuc()">
        <label class="col-12 text-justify"><strong>Atención</strong><br />
          La información proporcionada del RUC presenta errores o es incompleta.
        </label>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="SRIOK">
    <div class="col-12 text-center">
      <button [disabled]="guardando" *ngIf="validateRuc()" type="button" class="btn btn-success" title="Guardar Datos"
        (click)="guardarRUC()">
        <i class="fas fa-save"></i>&nbsp;Guardar Datos
      </button>
      <button type="button" class="btn btn-danger ml-2" title="Cancelar Cambios" (click)="
            refresh()
          ">
        <i class="fas fa-trash"></i>&nbsp;Cancelar Cambios
      </button>
      <button *ngIf="this.ruc_registro_selected.ruc.id !== 0" type="button" class="btn btn-info ml-2" title="Siguiente"
        (click)="pasosSuperioresActualizandoCapacidadesPrecios.select('tab2')">
        <i class="fas fa-arrow-right"></i>&nbsp;Siguiente
      </button>
    </div>
  </div> -->