<app-coordinador-bandejas-data *ngIf="showBandejas"
    (register_selected)="register_selected($event)" 
    (inspectores_change)="inspectores_change($event)" 
    (financieros_change)="financieros_change($event)" 
    [estados_tramites]="estados_tramites" 
    [user]="user" 
    [register_types_block]="register_types_block" 
    [states]="states">
</app-coordinador-bandejas-data>
<app-coordinador-gestion-data></app-coordinador-gestion-data>
<app-register-data [data_selected]="data_selected"></app-register-data>