<div class="row mt-3">
    <h4 class="col-12">
      <strong>Cumplimiento de Requisitos del Establecimiento</strong>
    </h4>
    <div class="col-4" *ngIf="register.code != 'PENDIENTE' && mostrarNumeroRegistro">
        <div class="form-group">
            <label>Código de Seguridad QR</label>
            <ngx-qrcode [qrc-element-type]="'url'" [qrc-value]="register.code" qrc-class="aclass" qrc-errorCorrectionLevel="L">
            </ngx-qrcode>
        </div>
    </div>
    <div class="col-8" *ngIf="register.code != 'PENDIENTE' && mostrarNumeroRegistro">
        <div class="form-group">
            <label>Código de Barras</label>
            <ngx-barcode [bc-value]="register.code" [bc-display-value]="true">
            </ngx-barcode>
        </div>
    </div>
    <div class="col-6" *ngIf="register.code != 'PENDIENTE' && mostrarNumeroRegistro">
        <div class="form-group">
            <label for="code">Número de Registro</label>
            <input disabled type="text" class="form-control" id="code" name="code" placeholder="Número de Registro" [(ngModel)]="register.code"/>
        </div>
    </div>
    <div class="col-6" *ngIf="register.code != 'PENDIENTE' && mostrarNumeroRegistro">
        <div class="form-group">
            <label>Fecha de Registro</label>
            <input disabled type="date" *ngIf="establishment.as_turistic_register_date != null" class="form-control" id="registerDate" name="registerDate" placeholder="Fecha de Registro" [ngModel]="establishment.as_turistic_register_date | date: 'y-MM-dd'" (ngModelChange)="establishment.as_turistic_register_date = $event"/>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label>Ámbito de Aplicación</label>
            <select class="form-control" disabled id="register_type_id" name="register_type_id" [(ngModel)]="regionSelectedCode">
                <option value="-" selected>Seleccione...</option>
                <option *ngFor="let register_type of regiones" value="{{ register_type.code }}">
                    {{ register_type.name }}
                </option>
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label>Actividad Turística</label>
            <span *ngIf="register.activity_id == 0" class="ml-2 badge badge-danger">Incorrecto</span>
            <select class="form-control" id="actividad" name="actividad" (change)="getClasifications(true)" [(ngModel)]="register.activity_id" [disabled]="!actividadTuristicaEnable() || !editable">
                <option value="0" selected>Seleccione...</option>
                <option value="1" *ngIf="canAlojamiento && activate_alojamiento">Alojamiento Turístico</option>
                <option value="2" *ngIf="canAlimentosBebidas && activate_alimentos_bebidas && regionSelectedCode == '1'">Alimentos y Bebidas</option>
                <option value="3" *ngIf="canOperacionIntermediacion && activate_operacion_intermediacion && ruc.tax_payer_type_id == '2' ">Operación e Intermediación</option>          
            </select>
        </div>
        <small class="col-12">
            <div class="alert alert-info mb-2" *ngIf="regionSelectedCode == '2'" role="alert">
                <label class="col-12 text-justify"><strong>Información</strong></label>
                <p class="col-12 text-justify">Para realizar algún trámite referente a Alimentos y Bebidas en la provincia de Galápagos se solicita de manera presencial en la Coordinación Zonal Insular.</p>
            </div>
        </small>
        <small class="col-12">
          <div class="alert alert-info mb-2" *ngIf="ruc.tax_payer_type_id == '1'" role="alert">
                <label class="col-12 text-justify"><strong>Información</strong></label>
                <p class="col-12 text-justify">Los trámites referentes a Operación e Intermediación, se encuentran disponibles únicamente para personerías jurídicas.</p>
          </div>
        </small>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label>Clasificación</label>
            <span *ngIf="classificationSelectedCode == '-'" class="ml-2 badge badge-danger">Incorrecto</span>
            <select class="form-control" id="register_type_id" name="register_type_id" (change)="getCategories(true)" [(ngModel)]="classificationSelectedCode" [disabled]="!classificationsEnable() || !editable">
                <option value="-" selected>Seleccione...</option>
                <option *ngFor="let register_type of clasifications_registers" value="{{ register_type.code }}">
                    {{ register_type.name }}
                </option>
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group" [hidden]="register.activity_id == 3 || register.activity_id == 2">
            <label>Categoría</label>
            <span *ngIf="register.register_type_id == 0" class="ml-2 badge badge-danger">Incorrecto</span>
            <select class="form-control" id="register_type_id" name="register_type_id" (change)="changeCategory()" [(ngModel)]="register.register_type_id"  [disabled]="!categoryEnable() || !editable">
                <option value="0" selected>Seleccione...</option>
                <option *ngFor="let register_type of categories_registers" value="{{ register_type.id }}">
                    {{ register_type.name }}
                </option>
            </select>
        </div>
    </div>
</div>