<app-tecnico-financiero-bandejas-data *ngIf="showBandejas"
    (register_selected)="register_selected($event)" 
    [estados_tramites]="estados_tramites" 
    [user]="user" 
    [register_types_block]="register_types_block" 
    [states]="states">
</app-tecnico-financiero-bandejas-data>
<app-tecnico-financiero-gestion-data 
    [user]="user" 
    [data_selected]="data_selected" 
    [register_types_block]="register_types_block">
</app-tecnico-financiero-gestion-data>
<app-register-data [data_selected]="data_selected"></app-register-data>