<div class="container">
    <div class="row mt-3">
        <h1 class="col-12 text-right">
            INACTIVACIÓN
        </h1>
        <div class="alert alert-info mt-3" role="alert">
            <label class="col-12 text-justify"><strong>Atención</strong><br />
                En ésta sección, usted puede remitir su solicitud de inactivación de los registros de turismo que usted mantenga aperturados con el Ministerio de Turismo.
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="identification" >Número de Cédula del Propietario/Representante Legal</label>
                <span
                *ngIf="!identificationValidated"
                class="ml-2 badge badge-danger"
                >Incorrecto</span>
                <input type="text" class="form-control" maxlength="10" id="identification" placeholder="Número de Cédula"
                    [(ngModel)]="user.identification" (keyup)="checkCedula()"/>
            </div>
            <div class="col-12 mb-3" *ngIf="identificationValidated">
                <small id="cedulaRepresentanteHelp"
                class="form-text text-muted" [innerHTML]="CedulaData"></small>
            </div>
            <div class="form-group" *ngIf="identificationValidated && REGCIVILOK && consumoCedula">
              <label for="identification" *ngIf="aleatorio == 0">Fecha de Nacimiento</label>
              <label for="identification" *ngIf="aleatorio == 1">Fecha de Expiración de Documento de Identidad</label>
              <label for="identification" *ngIf="aleatorio == 2">Fecha de Expedición de Documento de Identidad</label><span
              *ngIf="!identidadConfirmada"
              class="ml-2 badge badge-danger"
              >Identidad No Confirmada</span>
              <input type="text" class="form-control" id="fechaIngresada" [(ngModel)]="fechaIngresada" placeholder="Fecha: DIA/MES/AÑO   -  Ejemplo: 15/09/1986" (input)="confirmarIdentidad()">
            </div>
            <div class="form-group" *ngIf="identidadConfirmada">
                <label for="name">Nombre Completo</label>
                <input type="text" disabled class="form-control" id="name" placeholder="Nombre Completo" [(ngModel)]="user.name" />
            </div>
            <div class="form-group" *ngIf="identidadConfirmada">
                <label for="ruc">Número de RUC al que pertenece el Establecimiento</label><span
                *ngIf="!rucValidated"
                class="ml-2 badge badge-danger"
                >Incorrecto</span>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="button" class="btn btn-primary" (click)="checkRuc()"><span class="fas fa-sync"></span></button>
                  </div>
                  <input type="text" class="form-control" maxlength="13" id="ruc" placeholder="Número de RUC" [(ngModel)]="ruc.number" (keyup)="checkRuc()"/>
                </div>
            </div>
            <div class="col-12 mb-3" *ngIf="rucValidated">
                <small id="rucDataIncomming"
                class="form-text text-muted" [innerHTML]="rucData"></small>
            </div>
            <div class="row" *ngIf="esperando">
                <div class="col-12">
                    <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">Espere...</div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
    <div class="row" *ngIf="rucValidated && SRIOK && !((!isRepresentantLegal && ruc.tax_payer_type_id == 2) || (!isRucOwner && ruc.tax_payer_type_id == 1))">
        <div class="col-12">
            <div class="form-group">
                <label for="email">Correo Electrónico</label><span
                *ngIf="!emailContactValidated"
                class="ml-2 badge badge-danger"
                >Incorrecto</span>
                <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" (input)="checkEmail()" [(ngModel)]="user.email" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="main_phone_number">Teléfono Principal*</label><span
                *ngIf="!mainPhoneValidated"
                class="ml-2 badge badge-danger"
                > Incorrecto</span
              >
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="user.main_phone_number"
                  maxlength="10"
                  (keyup)="checkTelefonoPrincipal()"
                  id="main_phone_number"
                  placeholder="Teléfono Principal Ej: 0999999999"
                />
              </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="secondary_phone_number">Teléfono Secundario</label><span
                *ngIf="!secondaryPhoneValidated"
                class="ml-2 badge badge-danger"
                >Incorrecto</span
              >
                <input
                  type="text"
                  class="form-control"
                  maxlength="10"
                  [(ngModel)]="user.secondary_phone_number"
                  (keyup)="checkTelefonoSecundario()"
                  id="secondary_phone_number"
                  placeholder="Teléfono Secundario Ej: 022222222"
                />
              </div>
        </div>
        <div class="col-6">
            <div class="form-group" *ngIf="ruc.tax_payer_type_id == 2">
              <label>Fecha de Nombramiento*</label><span
              *ngIf="!fechaNombramientoOK"
              class="ml-2 badge badge-danger">Incorrecto</span>
              <input type="date" class="form-control" id="assignment_date" name="assignment_date" (input)="fechasNombramiento()"
                placeholder="assignmentDate" [ngModel]="
                    ruc.person_representative_attachment.assignment_date | date: 'y-MM-dd'
                  " (ngModelChange)="
                    ruc.person_representative_attachment.assignment_date = $event
                  " />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group" *ngIf="ruc.tax_payer_type_id == 2">
              <label>Nombramiento del Representante Legal*</label><span *ngIf="!validateNombramiento()"
                class="ml-2 badge badge-danger">Incorrecto</span>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button [disabled]="!validateNombramiento()" type="button" title="Descargar"
                    class="btn btn-success" (click)="descargarNombramiento()">
                    <i class="fas fa-download"></i>
                  </button>
                  <button [disabled]="!validateNombramiento()" type="button" title="Eliminar"
                    class="btn btn-danger" (click)="borrarNombramiento()">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
                <input type="file" class="form-control" id="person_representative_attachment_file"
                  name="person_representative_attachment_file" placeholder="Nombramiento Representante del Legal"
                  (change)="CodeFilePersonRepresentativeAttachment($event)">
              </div>
              <small class="col-12">
                <div class="alert alert-info mt-2 mb-2" role="alert">
                  <label class="col-12 text-justify"><strong>Información</strong></label><br />
                  <p>Verifique que el nombre del archivo que está cargando sea de longitud menor a 25 caracteres</p>
                </div>
              </small>
            </div>
          </div>
    </div>
    <div class="col-12" *ngIf="rucValidated && SRIOK">
      <div class="alert alert-danger mt-3" role="alert" *ngIf="!isRepresentantLegal && ruc.tax_payer_type_id == 2">
          <label class="col-12 text-justify"><strong>Atención</strong><br />
              El representante legal del RUC {{ruc.number}} es el único que puede iniciar el trámite de inactivación.
          </label>
      </div>
      <div class="alert alert-danger mt-3" role="alert" *ngIf="!isRucOwner && ruc.tax_payer_type_id == 1">
          <label class="col-12 text-justify"><strong>Atención</strong><br />
              El dueño del RUC {{ruc.number}} es el único que puede iniciar el trámite de inactivación.
          </label>
      </div>
    </div>
    <div class="row" *ngIf="rucValidated && SRIOK && !((!isRepresentantLegal && ruc.tax_payer_type_id == 2) || (!isRucOwner && ruc.tax_payer_type_id == 1))">
      <div class="col-12">
         <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
              <input *ngIf="config.filtering" placeholder="Buscar..."
                 [ngTableFiltering]="config.filtering"
                 class="form-control"
                 (input)="onChangeTable(config)"/>
           </div>
           <div class="btn-group mr-2" role="group">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-search"></i>&nbsp;Estado
                    </span>
                  </div>
                  <select class="form-control" id="filter-tramite-estado" name="filter-tramite-estado" [(ngModel)]="idTramiteEstadoFilter" (change)="filterByTramiteState()">
                    <option value="0" selected>Todos</option>
                    <option *ngFor="let estado of estados" value="{{estado}}">{{estado}}</option>
                  </select>
                  <div class="input-group-append" *ngIf="idTramiteEstadoFilter>0">
                      <select class="form-control" id="filter-tramite-estado" name="filter-tramite-estado" [(ngModel)]="tramite" (change)="filterByTramiteState(tramite)">
                        <option value="-" selected>Todos</option>
                        <option *ngFor="let estado of estados" value="{{estado}}">{{estado}}</option>
                      </select>
                  </div>
                </div>
           </div>
         </div>
      </div>
    </div>
    <div style="width: 100%; overflow-x: auto;" *ngIf="rucValidated && SRIOK && !((!isRepresentantLegal && ruc.tax_payer_type_id == 2) || (!isRucOwner && ruc.tax_payer_type_id == 1))">
        <div class="row">
            <div class="col-12 mt-2">
               <ng-table
                  [config]="config"
                  (cellClicked)="onCellClick($event)"
                  (tableChanged)="onChangeTable(config)"
                  [rows]="rows"
                  [columns]="columns">
                </ng-table>
            </div>
          </div>
    </div>
    <div class="row" *ngIf="rucValidated && SRIOK && !((!isRepresentantLegal && ruc.tax_payer_type_id == 2) || (!isRucOwner && ruc.tax_payer_type_id == 1))">
      <div class="col-12">
        <ngb-pagination
          *ngIf="config.paging"
          [(page)]="currentPageMinturRegisters"
          [pageSize]="recordsByPageRegisterMintur"
          [maxSize]="10"
          [boundaryLinks]="true"
          (pageChange)="onChangeTable(config, $event)"
          [collectionSize]="registers_mintur.length">
          <ng-template ngbPaginationFirst>Primera</ng-template>
          <ng-template ngbPaginationPrevious>Anterior</ng-template>
          <ng-template ngbPaginationNext>Siguiente</ng-template>
          <ng-template ngbPaginationLast>Última</ng-template>
        </ngb-pagination>
      </div>
    </div>
    <div class="row mt-5" *ngIf="mostrarUbicationEstablishment && rucValidated && SRIOK && !((!isRepresentantLegal && ruc.tax_payer_type_id == 2) || (!isRucOwner && ruc.tax_payer_type_id == 1))">
      <div class="col-12 text-left">
        <h4><strong>Datos de Ubicación del Establecimiento:</strong></h4>
      </div>
    </div>
    <div class="row mt-2" *ngIf="mostrarUbicationEstablishment && rucValidated && SRIOK && !((!isRepresentantLegal && ruc.tax_payer_type_id == 2) || (!isRucOwner && ruc.tax_payer_type_id == 1))">
      <label class="col-12"><strong>Ubicación</strong></label>
      <div class="col-3" [hidden]="true">
        <div class="form-group">
          <label>Zonal</label>
          <select class="form-control" disabled id="zonal_establishment_id"
            name="zonal_establishment_id" [(ngModel)]="zonalEstablishmentSelectedCode">
            <option value="-" selected>Seleccione...</option>
            <option *ngFor="let zonal of zonalesEstablishment" value="{{ zonal.code }}">
              {{ zonal.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Provincia*</label>
          <select class="form-control" id="provincia_establishment_id"
            name="provincia_establishment_id" [(ngModel)]="provinciaEstablishmentSelectedCode"
            (change)="getCantonesEstablishment()">
            <option value="-" selected>Seleccione...</option>
            <option *ngFor="
                let provincia of provinciasEstablishment
              " value="{{ provincia.code }}">
              {{ provincia.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Cantón*</label>
          <select class="form-control" id="canton_establishment_id" name="canton_establishment_id"
            [(ngModel)]="cantonEstablishmentSelectedCode" (change)="getParroquiasEstablishment()" >
            <option value="-" selected>Seleccione...</option>
            <option *ngFor="let canton of cantonesEstablishment" value="{{ canton.code }}">
              {{ canton.name }}
            </option>
          </select>
          <small *ngIf="cantonEstablishmentSelectedCode == '021701'">
            <div class="alert alert-info mt-2 mb-2" role="alert">
              <label class="col-12 text-justify"><strong>Importante:</strong></label><br />
              <p class="col-12 text-justify">Estimado Usuario, si su establecimiento se encuentra ubicado en el cantón Quito, por favor acérquese a las oficinas de "Quito Turismo" para solicitar su Certificado de Registro Turístico</p>
              <p class="col-12 text-justify"><strong>Dirección: </strong>Parque Bicentenario, terminales del antiguo Aeropuerto de Quito<br/>
              <strong>Horario de Atención: </strong>Lunes a Viernes de 08:30 a 17:00<br/>
              <strong>Teléfono: </strong><a href="tel:022993300">(02) 2993 300</a> extensiones 1003 y 1035<br/>
              <strong>Correo electrónico: </strong><a href="mailto:info@quito-turismo.gob.ec">info@quito-turismo.gob.ec</a></p>
            </div>
          </small>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Parroquia*</label><span *ngIf="establishment_selected.ubication_id == 0"
            class="ml-2 badge badge-danger">Incorrecto</span>
          <select class="form-control" id="parroquia_establishment_id"
            name="parroquia_establishment_id" (change)="updateGmap()" [(ngModel)]="establishment_selected.ubication_id" >
            <option value="0" selected>Seleccione...</option>
            <option *ngFor="
                let parroquia of parroquiasEstablishment
              " value="{{ parroquia.id }}">
              {{ parroquia.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-2" *ngIf="mostrarUbicationEstablishment && rucValidated && SRIOK && !((!isRepresentantLegal && ruc.tax_payer_type_id == 2) || (!isRucOwner && ruc.tax_payer_type_id == 1))">
      <label class="col-12"><strong>Dirección*</strong></label><span *ngIf="!addressEstablishmentValidated"
      class="ml-2 badge badge-danger">Incorrecto</span>
    </div>
    <div class="row mt-2" *ngIf="mostrarUbicationEstablishment && rucValidated && SRIOK && !((!isRepresentantLegal && ruc.tax_payer_type_id == 2) || (!isRucOwner && ruc.tax_payer_type_id == 1))">
      <div class="col-4">
          <div class="form-group">
              <label>Calle Principal</label><span *ngIf="establishment_selected.address_main_street === ''"
              class="ml-2 badge badge-danger">Incorrecto</span>
              <input type="text" class="form-control" id="addressMain" name="addressMain"
                (keyup)="checkEstablishmentAddress()" 
                placeholder="Calle Principal"
                [(ngModel)]="establishment_selected.address_main_street" />
          </div>
      </div>
      <div class="col-4">
          <div class="form-group">
              <label>Numeración</label><span *ngIf="establishment_selected.address_number === ''"
              class="ml-2 badge badge-danger">Incorrecto</span>
              <input type="text" class="form-control" id="addressNumber" name="addressNumber"
                (keyup)="checkEstablishmentAddress()" 
                placeholder="Numeración"
                [(ngModel)]="establishment_selected.address_number" />
          </div>
      </div>
      <div class="col-4">
          <div class="form-group">
              <label>Calle Intersección</label><span *ngIf="establishment_selected.address_secondary_street === ''"
              class="ml-2 badge badge-danger">Incorrecto</span>
              <input type="text" class="form-control" id="addressSecondary" name="addressSecondary"
                (keyup)="checkEstablishmentAddress()" 
                placeholder="Calle Intersección"
                [(ngModel)]="establishment_selected.address_secondary_street" />
          </div>
      </div>
    </div>
    <div class="row mt-2" *ngIf="mostrarUbicationEstablishment && rucValidated && SRIOK && !((!isRepresentantLegal && ruc.tax_payer_type_id == 2) || (!isRucOwner && ruc.tax_payer_type_id == 1))">
      <div class="form-group col-12">
        <label>Referencia de Ubicación* - ¿Como llegar?</label><span
          *ngIf="establishment_selected.address_reference == ''"
          class="ml-2 badge badge-danger">Incorrecto</span>
        <ck-editor id="address_reference" name="address_reference" skin="moono-lisa"
          [(ngModel)]="establishment_selected.address_reference"></ck-editor>
      </div>
      <div class="form-group col-12">
        <label>Ubicar el establecimiento en el mapa*</label>
        <agm-map class="col-12" style="height: 400px;" [latitude]="
            establishment_selected.address_map_latitude * 1
          " [longitude]="
            establishment_selected.address_map_longitude * 1
          " [zoom]="15" (mapClick)="address_mapEventEstablishment($event)">
          <agm-marker [latitude]="
              establishment_selected.address_map_latitude * 1
            " [longitude]="
              establishment_selected.address_map_longitude * 1
            " [markerDraggable]="true" (dragEnd)="address_mapEventEstablishment($event)"
            [animation]="'DROP'"></agm-marker>
        </agm-map>
      </div>
    </div>
    <!-- <div class="row mt-3" *ngIf="mostrarCausales && rucValidated && SRIOK && !((!isRepresentantLegal && ruc.tax_payer_type_id == 2) || (!isRucOwner && ruc.tax_payer_type_id == 1))">
      <div class="col-12">
          <label>Causales</label>
          <select class="form-control" id="causales" name="causales"
            [(ngModel)]="idCausal">
            <option value="0" selected>Seleccione...</option>
            <option *ngFor="let procedure of procedureJustificationsToShow" value="{{procedure.id}}">{{procedure.justification}}</option>
          </select>
          <div class="alert alert-info mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Atención</strong></label><br />
            Deseo notificar al Ministerio de Turismo la Baja del establecimiento.
          </div>
      </div>
    </div> -->
    
</div>