<div class="row" *ngIf="mostrarIngresoDatos">
    <div class="col-12 text-left">
        <h3>Datos:</h3>
    </div>
    <div class="col-12">
        <div class="alert alert-warning mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Declaración Juramentada</strong></label>
            <p class="col-12 text-justify"></p>Declaro, bajo juramento, que los datos consignados en éste sistema reflejan la realidad y autorizo al Ministerio de Turismo a verificar la información en cualquier momento, al tiempo que me sujeto, a las sanciones previstas en la ley en caso de falsedad o perjurio.
        </div>
    </div>
    <div class="col-12">
        <ngb-tabset #pasosSuperiores (tabChange)="changeTabActiveSuperior($event)">
            <ngb-tab title="Paso I. Información de la Persona Natural / Jurídica" id="pasoI">
                <ng-template ngbTabContent>
                    <app-ruc-data [user]="user" [editable]="isEditable" (ruc_validated)="ruc_validated($event)" (next_page_button_click)="change_page_button_click($event)"></app-ruc-data>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Paso II. Información del Establecimiento" id="pasoII" *ngIf="mostrarEstablecimientos">
                <ng-template ngbTabContent>
                    <app-establishment-list-data [ruc_number]="user.ruc" [ruc_code_id]="data_selected_table.register.establishment.ruc_id" (establishment_selected)="establishmentSelected($event)"></app-establishment-list-data>
                    <ngb-tabset #pasos (tabChange)="changeTabActive($event)" *ngIf="mostrarPasosInferiores">
                        <ngb-tab title="Paso 1.- Datos Generales del Establecimiento" id="paso1">
                            <ng-template ngbTabContent>
                                <app-establishment-data [min_data]="false" [ruc]="data_selected_table.register.ruc" [editable]="isEditable" [establishment]="data_selected_table.register.establishment" (establishment_validated)="establishment_validated($event)" (preview_page_button_click)="change_page_button_click($event)" (next_page_button_click)="change_page_button_click($event)"></app-establishment-data>
                            </ng-template>
                        </ngb-tab> 
                        <ngb-tab title="Paso 2.- Declaración de la Contribución Uno por Mil" id="paso2" *ngIf="mostrarDeclarations">
                            <ng-template ngbTabContent>
                                <app-pay-list-data [ruc_number]="user.ruc"></app-pay-list-data>
                                <app-declaration-data [editable]="isEditable" [ruc]="data_selected_table.register.ruc" [is_new_register]="false" [establishment]="data_selected_table.register.establishment" (canContinue)="showTuristicInformation($event)" (preview_page_button_click)="change_page_button_click($event)" (next_page_button_click)="change_page_button_click($event)"></app-declaration-data>
                            </ng-template>
                        </ngb-tab> 
                        <ngb-tab title="Paso 3.- Información Turística del Establecimiento" id="paso3" *ngIf="mostrarInformacionTuristica && opcion_seleccionada != 'tax_declaration'">
                            <ng-template ngbTabContent>
                                <app-turistic-data (preview_page_button_click)="change_page_button_click($event)" (salir_forced)="salir_turistic_information()" [user]="user" [is_new_register]="false" [ruc]="data_selected.ruc" [establishment]="data_selected.establishment_validated" [register]="data_selected.register_selected" [editable]="isEditable"></app-turistic-data>
                            </ng-template>
                        </ngb-tab> 
                    </ngb-tabset>  
                </ng-template>
            </ngb-tab> 
        </ngb-tabset>
    </div>
    <div class="col-12">
        <div class="alert alert-warning mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Declaración Juramentada</strong></label>
            <p class="col-12 text-justify"></p>Declaro, bajo juramento, que los datos consignados en éste sistema reflejan la realidad y autorizo al Ministerio de Turismo a verificar la información en cualquier momento, al tiempo que me sujeto, a las sanciones previstas en la ley en caso de falsedad o perjurio.
        </div>
    </div>
</div>