<div class="container">
    <div class="row">
        <h1 class="col-6 text-right">Normativa</h1>
    </div>
    <div class="row">
        <small class="col-12">
            <div class="alert alert-info mt-2 mb-2" role="alert">
              <label class="col-12 text-justify"><strong>Información</strong></label><br />
              <p>Aquí usted podrá revisar los requisitos necesarios en función de la actividad, clasificación y categoría a la que usted desea aplicar.</p>
            </div>
        </small>
    </div>
    <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label>Ámbito de Aplicación</label>
            <select class="form-control" disabled id="region_id" name="region_id"
              [(ngModel)]="regionSelectedCode">
              <option value="-" selected>Seleccione...</option>
              <option *ngFor="
                  let register_type of regiones
                " value="{{ register_type.code }}">
                {{ register_type.name }}
              </option>
            </select>
        </div>
        <div class="col-3">
            <div class="form-group">
              <label>Actividad Turística</label><span *ngIf="actividadSelected == '-'"
                class="ml-2 badge badge-danger">Incorrecto</span>
              <select class="form-control" id="actividad" name="actividad" (change)="getClasifications()" [(ngModel)]="actividadSelected">
                <option value="-" selected>Seleccione...</option>
                <option value="1" *ngIf="activateAlojamiento">Alojamiento Turístico</option>
                <option value="2" *ngIf="regionSelectedCode == '1' && activateAlimentosBebidas">Alimentos y Bebidas</option>
                <option value="3" *ngIf="activateOperationIntermediation">Operación e Intermediación</option>          
              </select>
              <small class="col-12" *ngIf="regionSelectedCode == '2'">
                <div class="alert alert-info mb-2" role="alert">
                  <label class="col-12 text-justify"><strong>Información</strong></label><br />
                  <p>Para realizar algún trámite referente a Alimentos y Bebidas en la provincia de Galápagos se solicita de manera presencial en la Coordinación Zonal Insular.</p>
                </div>
              </small>
            </div>
        </div>
        <!-- <div class="col-3">
            <div class="form-group">
              <label>Clasificación</label><span *ngIf="categorySelectedCode == '-'"
                class="ml-2 badge badge-danger">Incorrecto</span>
              <select class="form-control" id="register_type_id" name="register_type_id"
                (change)="getCategories()" [(ngModel)]="categorySelectedCode">
                <option value="-" selected>Seleccione...</option>
                <option *ngFor="
                    let register_type of clasifications_registers
                  " value="{{ register_type.code }}">
                  {{ register_type.name }}
                </option>
              </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
              <label>Categoría</label><span *ngIf="
                  rucEstablishmentRegisterSelected.register_type_id ==
                  0
                " class="ml-2 badge badge-danger">Incorrecto</span>
              <select class="form-control" id="register_type_id" name="register_type_id"
                (change)="getAllowedInfo()" [(ngModel)]="
                  rucEstablishmentRegisterSelected.register_type_id
                " [disabled]="actualizando || (!rucEstablishmentRegisterSelected.editable || actividadSelected == '2')"> 
                <option value="0" selected>Seleccione...</option>
                <option *ngFor="
                    let register_type of categories_registers
                  " value="{{ register_type.id }}">
                  {{ register_type.name }}
                </option>
              </select>
            </div>
        </div> -->
    </div>
</div>