<div class="container">
    <div class="row">
        <h1 class="col-12 text-right">Normativa</h1>
    </div>
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">División Zonal</span>
            </div>
            <select class="form-control" id="divition_id" name="divition_id" [(ngModel)]="divition_id">
                <option value="0" selected>Seleccione...</option>
                <option value="1" selected>Continente</option>
                <option value="2" selected>Galápagos</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Actividad</span>
            </div>
            <select class="form-control" id="actividad_id" name="actividad_id" [(ngModel)]="actividad_id">
                <option value="0" selected>Seleccione...</option>
                <option *ngFor="let activity of actividades" value="{{activity.id_actividad}}" selected>{{activity.descripcion}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Clasificación</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Categoría</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
    </div>
</div>