<div class="row mt-3">
    <div class="col-12 text-left">
        <h4><strong>Datos Generales del Establecimiento:</strong></h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label>Nombre Comercial*</label>
            <span *ngIf="!validateNombreComercial()" class="ml-2 badge badge-danger">Incorrecto</span>
            <input type="text" disabled class="form-control" id="commercially_known_name"
            name="commercially_known_name" placeholder="Nombre Comercial" [(ngModel)]="establishment.commercially_known_name"/>
            <small class="col-12" *ngIf="!establishmentComercialNameValidated">
                <div class="alert alert-info mt-2 mb-2" role="alert">
                    <label class="col-12 text-justify"><strong>Información</strong></label>
                    <p>Estimado usuario, el sistema ha detectado que su nombre comercial o contiene alguno de 
                        los siguientes términos/frases listadas en el documento <strong><a href="assets/documents/nombrecomercial.pdf" download="Palabras no Admitidas en Nombre Comercial.pdf" title="Descargar Listado - Palabras no Admitidas">PDF adjunto <i class="far fa-file-pdf"></i></a></strong>; por lo que de acuerdo al 
                        artículo 63 del Reglamento General a la Ley de Turismo, “Uso de denominación.-
                        Ningún establecimiento podrá usar denominación, razón social o nombre comercial y 
                        clasificación o categoría distintas a las que constan en el registro. El incumplimiento de 
                        esta disposición se sancionará según lo que está establecido en la Ley de Turismo y los 
                        procedimientos establecidos en este reglamento y en las normas de procedimiento que 
                        fueren aplicables”; solicitamos ingrese nuevamente su Nombre Comercial con estas 
                        consideraciones.&nbsp;<a href="https://srienlinea.sri.gob.ec/" target="_blank">Ir al Sitio Web del SRI</a></p>
                </div>
            </small>
        </div>
    </div>
</div>
<div class="row" *ngIf="establishmentComercialNameValidated">
    <div class="col-3">
        <div class="form-group">
            <label>Tipo de Establecimiento</label>
            <span *ngIf="establishment.ruc_name_type_id == 0" class="ml-2 badge badge-danger">Incorrecto</span>
            <span class="badge badge-info ml-2" style="cursor: pointer;" *ngIf="selectedNameType.id > 1" placement="right" ngbPopover="{{selectedNameType.description}}" popoverTitle="{{selectedNameType.name}}">
                <i class="fas fa-question-circle"></i>
            </span>
            <select class="form-control" id="comercial_name_type_id" name="comercial_name_type_id"
                [(ngModel)]="establishment.ruc_name_type_id" (change)="getNameTypeInfo()" [disabled]="!editable">
                <option value="0" selected>Seleccione...</option>
                <option *ngFor="let ruc_name_type of ruc_name_types" value="{{ ruc_name_type.id }}">{{ ruc_name_type.name }}</option>
            </select>
        </div>
    </div>
    <div class="col-9" *ngIf="establishment.ruc_name_type_id > 1">
        <div class="form-group">
            <label>Nombre de la Franquicia o Cadena*</label>
            <span *ngIf="!franchiseChainNameValidated" class="ml-2 badge badge-danger">Incorrecto</span>
            <input type="text" class="form-control" id="franchise_chain_name" name="franchise_chain_name" (input)="validateNombreFranquiciaCadena()"
            placeholder="Nombre de la Franquicia o Cadena" [(ngModel)]="establishment.franchise_chain_name" [disabled]="!editable"/>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label>Su local es*</label>
            <span *ngIf="establishment.establishment_property_type_id == 0" class="ml-2 badge badge-danger">Incorrecto</span>
            <select class="form-control" id="establishment_property_type_id" name="establishment_property_type_id" [(ngModel)]="establishment.establishment_property_type_id" [disabled]="!editable">
                <option value="0" selected>Seleccione...</option>
                <option *ngFor="let establishment_property_type of establishment_property_types" value="{{ establishment_property_type.id }}">
                    {{ establishment_property_type.name }}
                </option>
            </select>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label>Dirección URL de la Página WEB</label>
            <span *ngIf="!urlwebEstablishmentValidated" class="ml-2 badge badge-danger">Incorrecto</span>
            <input type="text" class="form-control" id="url_web" name="url_web" (input)="checkURLWeb()" placeholder="Ejemplo: www.google.com" [disabled]="!editable" [(ngModel)]="establishment.url_web"/>
        </div>
    </div>
</div>
          
          
          <!-- <div class="row" *ngIf="establishmentComercialNameValidated">
            <div class="col-12">
              <div class="form-group">
                <label>Fotografía de la Fachada del Establecimiento*</label><span *ngIf="establishment_picture.establishment_picture_file === ''"
                class="ml-2 badge badge-danger">Incorrecto</span>
              </div>
            </div>
            <div class="col-12 text-center">
              <img class="rounded mb-2" *ngIf="establishment_picture.establishment_picture_file !== ''" [src]="'data:' + establishment_picture.establishment_picture_file_type + ';base64,' + establishment_picture.establishment_picture_file" height="400px" width="600px" (click)="subirFotoFachada()" />
            </div>
            <div class="col-12 text-center">
              <button type="button" class="btn btn-primary" (click)="subirFotoFachada()">
                Subir Fotografía
              </button>
              <input [hidden]="true" #fotoFachadaInput type="file" (change)="CodificarArchivo($event)"
                accept="image/*" />
            </div>
          </div>
          <div class="row mt-5" *ngIf="establishmentComercialNameValidated">
            <div class="col-12 text-left">
              <h4><strong>Personal del Establecimiento:</strong></h4>
            </div>
          </div>
            <div class="form-group row" *ngIf="establishmentComercialNameValidated">
              <div class="col-12">
                <div class="alert alert-info mt-2 mb-2" role="alert">
                  <label class="col-12 text-justify"><strong>Atención</strong></label><br />
                  Verifíque que los valores ingresados sean números enteros.
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <table class="table table-hover mt-2">
                    <thead>
                      <th>
                        Género
                      </th>
                      <th>
                        Grupo
                      </th>
                      <th>
                        Cantidad
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let worker of establishment.workers_on_establishment">
                        <td>
                          {{worker.gender_name}}
                        </td>
                        <td>
                          <strong *ngIf="worker.is_max">{{worker.worker_group_name}}</strong>
                          <label *ngIf="!worker.is_max">{{worker.worker_group_name}}</label>
                        </td>
                        <td>
                          <input type="number" class="form-control" min="0" id="worker-count"
                            name="worker-count" [disabled]="!editable" placeholder="Cantidad" [(ngModel)]="worker.count" (input)="refreshTotalWorkers()"/>
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <th>
                      </th>
                      <th>
                        TOTAL DE TRABAJADORES DEL ESTABLECIMIENTO
                      </th>
                      <th>
                        {{total_workers}}
                      </th>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          <div class="row mt-5" *ngIf="establishmentComercialNameValidated">
            <div class="col-12 text-left">
              <h4><strong>Datos de Ubicación del Establecimiento:</strong></h4>
            </div>
          </div>
          <div class="row mt-2" *ngIf="establishmentComercialNameValidated">
            <label class="col-12"><strong>Ubicación</strong></label>
            <div class="col-3" [hidden]="true">
              <div class="form-group">
                <label>Zonal</label>
                <select class="form-control" disabled id="zonal_establishment_id"
                  name="zonal_establishment_id" [(ngModel)]="zonalEstablishmentSelectedCode">
                  <option value="-" selected>Seleccione...</option>
                  <option *ngFor="let zonal of zonalesEstablishment" value="{{ zonal.code }}">
                    {{ zonal.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Provincia*</label>
                <select class="form-control" id="provincia_establishment_id"
                  name="provincia_establishment_id" [(ngModel)]="provinciaEstablishmentSelectedCode"
                  (change)="getCantonesEstablishment()" [disabled]="!editable">
                  <option value="-" selected>Seleccione...</option>
                  <option *ngFor="
                      let provincia of provinciasEstablishment
                    " value="{{ provincia.code }}">
                    {{ provincia.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Cantón*</label>
                <select class="form-control" id="canton_establishment_id" name="canton_establishment_id"
                  [(ngModel)]="cantonEstablishmentSelectedCode" (change)="getParroquiasEstablishment()" [disabled]="!editable">
                  <option value="-" selected>Seleccione...</option>
                  <option *ngFor="let canton of cantonesEstablishment" value="{{ canton.code }}">
                    {{ canton.name }}
                  </option>
                </select>
                <small *ngIf="cantonEstablishmentSelectedCode == '021701'">
                  <div class="alert alert-info mt-2 mb-2" role="alert">
                    <label class="col-12 text-justify"><strong>Importante:</strong></label><br />
                    <p class="col-12 text-justify">Estimado Usuario, si su establecimiento se encuentra ubicado en el cantón Quito, por favor acérquese a las oficinas de "Quito Turismo" para solicitar su Certificado de Registro Turístico</p>
                    <p class="col-12 text-justify"><strong>Dirección: </strong>Parque Bicentenario, terminales del antiguo Aeropuerto de Quito<br/>
                    <strong>Horario de Atención: </strong>Lunes a Viernes de 08:30 a 17:00<br/>
                    <strong>Teléfono: </strong><a href="tel:022993300">(02) 2993 300</a> extensiones 1003 y 1035<br/>
                    <strong>Correo electrónico: </strong><a href="mailto:info@quito-turismo.gob.ec">info@quito-turismo.gob.ec</a></p>
                  </div>
                </small>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Parroquia*</label><span *ngIf="establishment.ubication_id == 0"
                  class="ml-2 badge badge-danger">Incorrecto</span>
                <select class="form-control" id="parroquia_establishment_id"
                  name="parroquia_establishment_id" (change)="updateGmap()" [(ngModel)]="establishment.ubication_id" [disabled]="!editable">
                  <option value="0" selected>Seleccione...</option>
                  <option *ngFor="
                      let parroquia of parroquiasEstablishment
                    " value="{{ parroquia.id }}">
                    {{ parroquia.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mt-2" *ngIf="establishmentComercialNameValidated">
            <label class="col-12"><strong>Dirección*</strong></label><span *ngIf="!addressEstablishmentValidated"
            class="ml-2 badge badge-danger">Incorrecto</span>
          </div>
          <div class="row mt-2" *ngIf="establishmentComercialNameValidated">
            <div class="col-4">
                <div class="form-group">
                    <label>Calle Principal</label><span *ngIf="establishment.address_main_street === ''"
                    class="ml-2 badge badge-danger">Incorrecto</span>
                    <input type="text" class="form-control" id="addressMain" name="addressMain"
                      (keyup)="checkEstablishmentAddress()" [disabled]="!editable"
                      placeholder="Calle Principal"
                      [(ngModel)]="establishment.address_main_street" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Numeración</label><span *ngIf="establishment.address_number === ''"
                    class="ml-2 badge badge-danger">Incorrecto</span>
                    <input type="text" class="form-control" id="addressNumber" name="addressNumber"
                      (keyup)="checkEstablishmentAddress()" [disabled]="!editable"
                      placeholder="Numeración"
                      [(ngModel)]="establishment.address_number" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Calle Intersección</label><span *ngIf="establishment.address_secondary_street === ''"
                    class="ml-2 badge badge-danger">Incorrecto</span>
                    <input type="text" class="form-control" id="addressSecondary" name="addressSecondary"
                      (keyup)="checkEstablishmentAddress()" [disabled]="!editable"
                      placeholder="Calle Intersección"
                      [(ngModel)]="establishment.address_secondary_street" />
                </div>
            </div>
          </div>
          <div class="form-group" *ngIf="establishmentComercialNameValidated">
            <label>Referencia de Ubicación* - ¿Como llegar?</label><span
              *ngIf="establishment.address_reference == ''"
              class="ml-2 badge badge-danger">Incorrecto</span>
            <ck-editor id="address_reference" *ngIf="true" name="address_reference" skin="moono-lisa"
              [(ngModel)]="establishment.address_reference"></ck-editor>
          </div>
          <div class="form-group" *ngIf="establishmentComercialNameValidated">
            <label>Ubicar el establecimiento en el mapa*</label>
            <agm-map class="col-12" *ngIf="editable" style="height: 400px;" [latitude]="
                establishment.address_map_latitude * 1
              " [gestureHandling]="'cooperative'" [scrollwheel]="null"  [longitude]="
                establishment.address_map_longitude * 1
              " [zoom]="15" (mapClick)="address_mapEventEstablishment($event)">
              <agm-marker [latitude]="
                  establishment.address_map_latitude * 1
                " [longitude]="
                  establishment.address_map_longitude * 1
                " [markerDraggable]="true" (dragEnd)="address_mapEventEstablishment($event)"
                [animation]="'DROP'"></agm-marker>
            </agm-map>
            <agm-map class="col-12" *ngIf="!editable" style="height: 400px;" [latitude]="
                establishment.address_map_latitude * 1
              " [gestureHandling]="'cooperative'" [scrollwheel]="null"  [longitude]="
                establishment.address_map_longitude * 1
              " [zoom]="15">
              <agm-marker [latitude]="
                  establishment.address_map_latitude * 1
                " [longitude]="
                  establishment.address_map_longitude * 1
                "
                [animation]="'DROP'"></agm-marker>
            </agm-map>
          </div>
          <div class="row mt-5" *ngIf="establishmentComercialNameValidated">
            <div class="col-12 text-left">
              <h4><strong>Certificaciones:</strong></h4>
            </div>
          </div>
          <div class="col-12" *ngIf="establishmentComercialNameValidated">
            <small class="col-12">
              <div class="alert alert-info mt-2 mb-2" role="alert">
                <label class="col-12 text-justify"><strong>Información</strong></label><br />
                <p>Si usted dispone de algún tipo de certificado que no se encuentra listado a continuación, puede comunicarse con el Ministerio de Turismo para proceder a solicitar su inclusión.</p>
              </div>
            </small>  
          </div>
          <div class="form-group row" *ngIf="establishmentComercialNameValidated">
            <div class="col-12">
              <table class="table table-hover mt-2">
                <thead>
                  <th>
                    Seleccionado
                    <button type="button" title="Agregar" class="btn btn-success ml-2"
                      (click)="addEstablishmentCertification()">
                      <i class="fas fa-plus-circle"></i>
                    </button>
                  </th>
                  <th>
                    Categoría de Certificado
                  </th>
                  <th>
                    Tipo de Certificado
                  </th>
                  <th *ngIf="false">
                    Adjunto
                  </th>
                  <th>
                    Opciones
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let establishment_certification of establishment.establishment_certifications_on_establishment
                    " (click)="
                      selectEstablishmentCertification(
                        establishment_certification
                      )
                    ">
                    <td class="text-right">
                      <span *ngIf="
                          establishment_certifications_establishmentSelected ===
                          establishment_certification
                        " class="far fa-hand-point-right"></span>
                    </td>
                    <td>
                      <select class="form-control" id="certificate_type_id" name="certificate_type_id"
                        [(ngModel)]="
                          establishment_certification.establishment_certification_type_fatherCode
                        " [disabled]="!editable" (change)="
                          getEstablishmentCertificationTypesSpecific(establishment_certification)
                        ">
                        <option value="-" selected>Seleccione...</option>
                        <option *ngFor="
                            let establishment_certification_type of establishment_certification_types_categories
                          " value="{{
                            establishment_certification_type.code
                          }}">
                          {{
                            establishment_certification_type.name
                          }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control" id="certificate_type_id" name="certificate_type_id"
                        [(ngModel)]="
                          establishment_certification.establishment_certification_type_id
                        " [disabled]="!editable">
                        <option value="0" selected>Seleccione...</option>
                        <option *ngFor="
                            let establishment_certification_type of establishment_certification.establishment_certification_type_specifics
                          " value="{{
                            establishment_certification_type.id
                          }}">
                          {{
                            establishment_certification_type.name
                          }}
                        </option>
                      </select>
                    </td>
                    <td *ngIf="false">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <button
                            [disabled]="establishment_certification.establishment_certification_attachment.establishment_certification_attachment_file == ''"
                            type="button" title="Descargar Certificado" class="btn btn-primary" (click)="
                                  downloadEstablishmentCertification(
                                    establishment_certification
                                  )
                                ">
                            <i class="fas fa-download"></i>
                          </button>
                          <button
                            [disabled]="establishment_certification.establishment_certification_attachment.establishment_certification_attachment_file == '' || !editable"
                            type="button" title="Eliminar" class="btn btn-danger"
                            (click)="borrarCertificado(establishment_certification)">
                            <i class="fas fa-trash"></i>
                          </button>
                        </div>
                        <input type="file" [disabled]="!editable" class="form-control" (change)="
                              CodificarArchivoEstablishmentCertification(
                                $event,
                                establishment_certification
                              )
                            " accept="application/pdf" />
                      </div>
                      <small class="col-12">
                        <div class="alert alert-info mt-2 mb-2" role="alert">
                          <label class="col-12 text-justify"><strong>Información</strong></label><br />
                          <p>Verifique que el nombre del archivo que está cargando sea de longitud menor a 25 caracteres</p>
                        </div>
                      </small>
                    </td>
                    <td>
                      <button type="button" title="Eliminar" class="btn btn-danger" [disabled]="!editable" (click)="
                          removeEstablishmentCertification(
                            establishment_certification
                          )
                        ">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mt-3" *ngIf="establishmentComercialNameValidated">
              <h4 class="col-12"><strong>Persona de Contacto en el Establecimiento</strong></h4>
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Cédula de Identidad*</label><span
                        *ngIf="!identificationContactEstablishmentValidated"
                        class="ml-2 badge badge-danger">Incorrecto</span>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <button type="button" class="btn btn-primary" title="Consultar con Registro Civil"
                            (click)="checkCedulaEstablishment()">
                            <i class="fas fa-sync"></i>
                          </button>
                        </div>
                        <input type="text" class="form-control" id="cedula" maxlength="10"
                          placeholder="Cédula de Identidad" [disabled]="!editable" (keyup)="checkCedulaEstablishment()" [(ngModel)]="
                            establishment.contact_user
                              .identification
                          " name="cedula" />
                      </div>
                    </div>
                  </div>
                  <div class="col-12" *ngIf="identificationContactEstablishmentValidated">
                    <div class="form-group">
                      <label>DATOS DE LA CÉDULA</label>
                      <div class="col-12 text-justify" [innerHTML]="cedulaEstablishmentContactData">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-6">
                    <div class="form-group">
                      <label>Número de Teléfono Principal*</label><span
                        *ngIf="!mainPhoneContactEstablishmentValidated"
                        class="ml-2 badge badge-danger">Incorrecto</span>
                      <input type="text" class="form-control" [disabled]="!editable" id="mainRucPhoneNumber" maxlength="10"
                        placeholder="Número de Teléfono Principal Ej: 0999999999"
                        (keyup)="checkTelefonoPrincipalContactoEstablecimiento()" [(ngModel)]="
                          establishment.contact_user.main_phone_number
                        " name="mainRucPhoneNumber" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label>Número de Teléfono Secundario</label><span
                        *ngIf="!secondaryPhoneContactEstablishmentValidated"
                        class="ml-2 badge badge-danger">Incorrecto</span>
                      <input type="text" class="form-control" [disabled]="!editable" id="secondaryRucPhone" maxlength="10"
                        (keyup)="checkTelefonoSecundarioContactoEstablecimiento()"
                        placeholder="Número de Teléfono Secundario Ej: 0299999999" [(ngModel)]="
                          establishment.contact_user.secondary_phone_number
                        " name="secondaryRucPhone" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Correo Electrónico*</label><span *ngIf="!emailContactEstablishmentValidated"
                        class="ml-2 badge badge-danger">Incorrecto</span>
                      <input type="email" class="form-control" [disabled]="!editable" id="email" maxlength="255"
                        (input)="checkEmailContactEstablishment()" placeholder="Correo Electrónico"
                        [(ngModel)]="establishment.contact_user.email" name="email" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center">
      <button *ngIf="establishment.id !== 0" type="button" class="btn btn-info mr-2" title="Anterior"
        (click)="pasosSuperioresActualizandoCapacidadesPrecios.select('tab1')">
        <i class="fas fa-arrow-left"></i>&nbsp;Anterior
      </button>
      <button type="button" [disabled]="guardando" class="btn btn-success" *ngIf="validateEstablecimiento() && editable"
        title="Guardar Datos" (click)="guardarEstablecimiento()">
        <i class="fas fa-save"></i>&nbsp;Guardar Datos
      </button>
      <button type="button" class="btn btn-danger ml-2" title="Cancelar Cambios" (click)="
          refresh()
        ">
        <i class="fas fa-trash"></i>&nbsp;Cancelar Cambios
      </button>
      <button *ngIf="establishment.id !== 0" type="button" class="btn btn-info ml-2" title="Siguiente"
      (click)="pasosActualizandoCapacidadesPrecios.select('paso2')">
        <i class="fas fa-arrow-right"></i>&nbsp;Siguiente
      </button>
    </div>
  </div> -->