<div class="row mt-3">
    <div class="col-12">
        <div class="row mt-3">
            <h4 class="col-12">
                <strong>Declaraciones de Impuestos</strong>
            </h4>
        </div>
    </div>
    <div class="col-12">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-primary" title="Actualizar" (click)="refresh()">
                    <i class="fas fa-sync"></i>
                </button>
            </div>
            <div class="btn-group mr-2" role="group">
                <button type="button" title="Nuevo" class="btn btn-success" *ngIf="canAddNewDeclaration" (click)="newDeclaration()">
                    <i class="fas fa-file"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <table class="table table-hover mt-2">
            <thead>
                <tr>
                    <th style="text-align: right;"><i class="far fa-check-square"></i></th>
                    <th>Año</th>
                    <th>Fecha de Declaración</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let declaration of declarations" (click)="selectDeclaration(declaration)">
                    <td class="text-right">
                    <span *ngIf="declaration_selected === declaration" class="far fa-hand-point-right"></span>
                    </td>
                    <td>{{declaration.year}}</td>
                    <td>{{declaration.declaration_date}}</td>
                    <td>
                    <button type="button" [disabled]="(declaration.year < thisyear) || declaration.bloqued" title="Borrar" class="btn btn-danger" (click)="borrarDeclaration(declaration)">
                        <i class="fas fa-trash"></i>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-3" *ngIf="mostrarDataDeclaration">
    <div class="col-12 text-left">
        <h3>Datos de la Declaración:</h3>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label>Año de Obligación de Pago</label>
            <input type="number"class="form-control" id="declarationYear" name="declarationYear" placeholder="Año a Declarar" [(ngModel)]="declaration_selected.year" [max]="maxYear" [disabled]="!declaration_selected.editable || is_new_register">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label *ngIf="ruc.tax_payer_type_id == 2">Anexar balance individual del establecimiento, suscrito por el representante legal*</label>
            <label *ngIf="ruc.tax_payer_type_id == 1">Anexar inventario valorado del establecimiento, suscrito por el propietario*</label>
            <span *ngIf="balance.declaration_attachment_file === ''" class="ml-2 badge badge-danger">Incorrecto</span>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button [disabled]="balance.declaration_attachment_file === ''" type="button" title="Descargar Adjunto" class="btn btn-primary" (click)="downloadBalance()">
                        <i class="fas fa-download"></i>
                    </button>
                    <button [disabled]="balance.declaration_attachment_file === '' || declaration_selected.bloqued || !declaration_selected.editable" type="button" title="Eliminar" class="btn btn-danger" (click)="borrarBalance()">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
                <input type="file" class="form-control" [disabled]="declaration_selected.bloqued || !declaration_selected.editable" (change)="CodificarArchivoBalance($event)" accept="application/pdf" />
            </div>
            <small class="col-12">
                <div class="alert alert-info mt-2 mb-2" role="alert">
                    <label class="col-12 text-justify"><strong>Información</strong></label>
                    <p class="col-12 text-justify">Verifique que el nombre del archivo que está cargando sea de longitud menor a 25 caracteres</p>
                </div>
            </small>
        </div>
    </div>
    <div class="col-12">
        <table class="table table-hover mt-2">
            <tbody *ngFor="let declarationItemToShow of declarationItemsToShow">
                <tr class="text-light bg-secondary">
                    <th colspan="2" class="text-center">
                        {{ declarationItemToShow.Category.name }}
                    </th>
                </tr>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Valor
                    </th>
                </tr>
                <tr *ngFor="let item of declarationItemToShow.items">
                    <td>
                        {{ item.declarationItem.name }}
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">USD</span>
                            </div>
                            <input type="number" class="form-control" min="0" step="0.01" id="declarationITemValue" name="declarationITemValue" [(ngModel)]="item.valueItem.value" placeholder="Valor" (input)="refreshDeclarationInfo()" [disabled]="!declaration_selected.editable"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong> TOTAL {{ declarationItemToShow.Category.name }} </strong>
                    </td>
                    <td>
                        <strong>{{ declarationItemToShow.Category.total | number: '1.2' }} USD</strong>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="text-light bg-secondary text-right">
                        TOTAL PROPIEDAD, PLANTA Y EQUIPO
                    </th>
                    <td style="color:red;">
                        <strong>{{totalunoxmil | number: '1.2'}} USD</strong>
                    </td>
                </tr>
                <tr>
                    <th class="text-light bg-secondary text-right">
                        CONTRIBUCIÓN CAUSADA UNO POR MIL
                    </th>
                    <td style="color:red;">
                        <strong>{{totalunoxmil/1000 | number: '1.2'}} USD</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-3" *ngIf="mostrarDataDeclaration">
    <div class="col-12">
        <div class="alert alert-info mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Atención</strong></label>
            <p class="col-12 text-justify">Estimado Usuario, en base a su declaración, en los próximos días le notificaremos a su correo electrónico el valor a cancelar por la Contribución Uno por Mil, una vez que el Técnico Financiero del Ministerio de Turismo valide la información 	ingresada a través del presente formulario.
                Nota importante: Los valores a declarar en esta sección debe contener el total de los activos fijos del establecimiento prestador de servicios turísticos.</p>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-info mr-2" title="Anterior" (click)="previewPage()">
            <i class="fas fa-arrow-left"></i>&nbsp;Anterior
        </button>
        <button type="button" [disabled]="guardando" class="btn btn-success" title="Guardar Datos"  *ngIf="mostrarDataDeclaration" (click)="saveDeclaration()">
            <i class="fas fa-save"></i>&nbsp;Guardar Declaración
        </button>
        <button type="button" class="btn btn-danger ml-2" title="Cancelar Cambios" (click)="refresh()">
            <i class="fas fa-times"></i>&nbsp;Cancelar Cambios
        </button>
        <button *ngIf="canSiguiente" type="button" class="btn btn-info ml-2" title="Siguiente" (click)="nextPage()">
            <i class="fas fa-arrow-right"></i>&nbsp;Siguiente
        </button>
    </div>
</div>