<div class="row mt-3">
    <div class="col-12">
        <h4>
            <strong>Guía de Turismo</strong>
        </h4>
    </div>
    <small class="col-12">
        <div class="alert alert-info mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Información</strong></label>
            <p class="col-12 text-justify">Registrar Guía de Turismo contratado por el establecimiento.</p>
        </div>
    </small>
    <div class="col-12">
        <div class="form-group">
            <label>Declaro que el establecimiento, al momento del envío de la solicitud, ha contratado Guías de Turismo</label>
            <div class="col-12">
                <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox"  id="guiaTurismoSwitch" name="guiaTurismoSwitch" [(ngModel)]="guiaTurismoSwitch" [disabled]="!ediable"/><label class="onoffswitch-label" for="guiaTurismoSwitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="guiaTurismoSwitch">
        <table class="table table-hover mt-2">
            <thead>
                <th colspan="5">
                    <button type="button" title="Agregar Guía de Turismo" class="btn btn-success" (click)="addGuiaTurismo(content_turistic_guide)" [disabled]="!ediable">
                        <i class="fas fa-plus-square"></i>&nbsp;Agregar Guía de Turismo
                    </button>
                </th>
            </thead>
            <thead>
                <th>Identificación</th>
                <th>Nombre Completo</th>
                <th>Clasificación</th>
                <th>Ámbito de Aplicación</th>
                <th>Número de Credencial</th>
                <th>Fecha de Emisión de Credencial</th>
                <th>Provincia</th>
                <th>Cantón</th>
                <th>Parroquia</th>
                <th>Opciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let turistic_guide of register.turistic_guides">
                    <td>{{turistic_guide.identification}}</td>
                    <td>{{turistic_guide.fullname}}</td>
                    <td>{{turistic_guide.clasificacion}}</td>
                    <td>{{turistic_guide.ambitoAplicacion}}</td>
                    <td>{{turistic_guide.credential_number}}</td>
                    <td>{{turistic_guide.credential_date}}</td>
                    <td>{{turistic_guide.provincia}}</td>
                    <td>{{turistic_guide.canton}}</td>
                    <td>{{turistic_guide.parroquia}}</td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group mr-2" role="group">
                                <button [disabled]="!ediable" type="button" title="Editar" class="btn btn-warning" (click)="editGuiaTurismo(content_turistic_guide, turistic_guide)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button [disabled]="!ediable" type="button" title="Eliminar" class="btn btn-danger" (click)="deleteGuiaTurismo(turistic_guide)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #content_turistic_guide let-modal>
    <div class="modal-header">
        <h3>Guía de Turismo</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputPassword1">Identificación</label>
                    <input type="text" maxlength="10" (keyup)="checkIdentificacionGuia()" class="form-control" id="identificationTuristicGuide" [(ngModel)]="newTuristicGuide.identification">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputPassword1">Nombre Completo</label>
                    <input type="text" disabled class="form-control" id="fullnameTuristicGuide" [(ngModel)]="newTuristicGuide.fullname">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputPassword1">Clasificación</label>
                    <select class="form-control" id="classificationTuristicGuide" name="classificationTuristicGuide" [(ngModel)]="newTuristicGuide.clasificacion" disabled>
                        <option value="0" selected>Seleccione...</option>
                        <option *ngFor="let turistic_classification of turistic_classifications" value="{{ turistic_classification.id }}">
                            {{ turistic_classification.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputPassword1">Ámbito de Aplicación</label>
                    <select class="form-control" disabled id="ambitoAplicacionTuristicGuide" name="ambitoAplicacionTuristicGuide" (change)="getProvinciasGuide(newTuristicGuide.ambitoAplicacion)" [(ngModel)]="newTuristicGuide.ambitoAplicacion" [disabled]="!ediable">
                        <option value="-" selected>Seleccione...</option>
                        <option *ngFor="let register_type of regiones" value="{{ register_type.code }}">
                            {{ register_type.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputPassword1">Número de Credencial</label>
                    <input type="text" disabled class="form-control" id="credentialCodeTuristicGuide" [(ngModel)]="newTuristicGuide.credential_number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputPassword1">Fecha de Emisión de Credencial</label>
                    <input type="date" disabled class="form-control" id="credentialDateTuristicGuide" [ngModel]="newTuristicGuide.credential_date | date: 'y-MM-dd'" (ngModelChange)="newTuristicGuide.credential_date = $event">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="exampleInputPassword1">Provincia</label>
                    <select class="form-control" id="provinciaTuristicGuide" name="provinciaTuristicGuide" [(ngModel)]="newTuristicGuide.provincia" (change)="getCantonesGuide(newTuristicGuide.provincia)" [disabled]="!ediable">
                        <option value="-" selected>Seleccione...</option>
                        <option *ngFor="let provincia of provinciasGuide" value="{{ provincia.code }}">
                            {{ provincia.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="exampleInputPassword1">Cantón</label>
                    <select class="form-control" id="cantonTuristicGuide" name="cantonTuristicGuide" [(ngModel)]="newTuristicGuide.canton" (change)="getParroquiasGuide(newTuristicGuide.canton)" [disabled]="!ediable">
                        <option value="-" selected>Seleccione...</option>
                        <option *ngFor="let canton of cantonesGuide" value="{{ canton.code }}">
                            {{ canton.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="exampleInputPassword1">Parroquia</label>
                    <select class="form-control" id="parroquiaTuristicGuide" name="parroquiaTuristicGuide" [(ngModel)]="newTuristicGuide.ubication_id" [disabled]="!ediable">
                        <option value="0" selected>Seleccione...</option>
                        <option *ngFor="let parroquia of parroquiasGuide" value="{{ parroquia.id }}">
                            {{ parroquia.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Guardar click')" [disabled]="newTuristicGuide.ubication_id == 0 || newTuristicGuide.canton == '-' || newTuristicGuide.provincia == '-' || newTuristicGuide.ambitoAplicacion == '-' || !identificationGuideValidated">
            Guardar
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancelar click')">
            Cancelar
        </button>
    </div>
</ng-template>