<div class="row mt-3">
    <div class="col-12">
        <h4>
            <strong>Guía de Turismo</strong>
        </h4>
    </div>
    <small class="col-12">
        <div class="alert alert-info mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Información</strong></label>
            <p class="col-12 text-justify">Registrar Guía de Turismo contratado por el establecimiento.</p>
        </div>
    </small>
    <div class="col-12">
        <div class="form-group">
            <label>Declaro que el establecimiento, al momento del envío de la solicitud, ha contratado Guías de Turismo</label>
            <div class="col-12">
                <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox"  id="guiaTurismoSwitch" name="guiaTurismoSwitch" [(ngModel)]="guiaTurismoSwitch" [disabled]="!editable"/>
                    <label class="onoffswitch-label" for="guiaTurismoSwitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="guiaTurismoSwitch">
        <table class="table table-hover mt-2">
            <thead>
                <th colspan="5">
                    <button type="button" title="Agregar Guía de Turismo" class="btn btn-success" (click)="addGuiaTurismo(content_turistic_guide)" [disabled]="!editable">
                        <i class="fas fa-plus-square"></i>&nbsp;Agregar Guía de Turismo
                    </button>
                </th>
            </thead>
            <thead>
                <th>Identificación</th>
                <th>Nombre Completo</th>
                <th *ngIf="!editable">Número de Credencial</th>
                <th *ngIf="!editable">Fecha de Emisión de Credencial</th>
                <th>Opciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let turistic_guide of register.turistic_guides">
                    <td>{{turistic_guide.identification}}</td>
                    <td>{{turistic_guide.fullname}}</td>
                    <td *ngIf="!editable">
                        <span *ngIf="turistic_guide.credential_number != ''">{{turistic_guide.credential_number}}</span>
                        <span class="badge badge-danger" *ngIf="turistic_guide.credential_number == ''">Guía No Registrado</span>
                    </td>
                    <td *ngIf="!editable">
                        <span *ngIf="turistic_guide.credential_number != ''">{{turistic_guide.credential_date | date: 'y-MM-dd'}}</span>
                        <span class="badge badge-danger" *ngIf="turistic_guide.credential_number == ''">Guía No Registrado</span>
                    </td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group mr-2" role="group">
                                <button [disabled]="!editable" type="button" title="Editar" class="btn btn-warning" (click)="editGuiaTurismo(content_turistic_guide, turistic_guide)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button [disabled]="!editable" type="button" title="Eliminar" class="btn btn-danger" (click)="deleteGuiaTurismo(turistic_guide)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #content_turistic_guide let-modal>
    <div class="modal-header">
        <h3>Guía de Turismo</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputPassword1">Identificación</label>
                    <input type="text" maxlength="10" (keyup)="checkIdentificacionGuia()" class="form-control" id="identificationTuristicGuide" [(ngModel)]="newTuristicGuide.identification">
                    <small id="cedulaRepresentanteHelp" class="form-text text-muted" [innerHTML]="CedulaData"></small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" *ngIf="identificationGuideValidated">
                <div class="form-group">
                    <label for="exampleInputPassword1">Nombre Completo</label>
                    <input type="text" disabled class="form-control" id="fullnameTuristicGuide" [(ngModel)]="newTuristicGuide.fullname">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Guardar click')" [disabled]="newTuristicGuide.ubication_id == 0 || newTuristicGuide.canton == '-' || newTuristicGuide.provincia == '-' || newTuristicGuide.ambitoAplicacion == '-' || !identificationGuideValidated">
            Guardar
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancelar click')">
            Cancelar
        </button>
    </div>
</ng-template>