<div class="row mt-2 mb-5">
    <h1 class="col-12 text-right">
       Gestión de Actividades Turísticas
    </h1>
</div>

<app-agreement-data [user]="user" *ngIf="mostrarTerminosCondiciones" (checkAgreement)="checkTerminosCondiciones($event)"></app-agreement-data>
<app-registers-data [user]="user" *ngIf="terminosCondiciones" (register_selected)="validateRegisterSelectedData($event)"></app-registers-data>
<app-options-data *ngIf="mostrarOpciones" [register_state]="estado_registro" [register_activity]="actividadSelected" (select_option)="changeSelectedOption($event)"></app-options-data>

<div class="row" *ngIf="mostrarIngresoDatos">
    <div class="col-12 text-left">
        <h3>Datos:</h3>
    </div>
    <div class="col-12">
        <div class="alert alert-warning mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Declaración Juramentada</strong></label>
            <p class="col-12 text-justify"></p>Declaro, bajo juramento, que los datos consignados en éste sistema reflejan la realidad y autorizo al Ministerio de Turismo a verificar la información en cualquier momento, al tiempo que me sujeto, a las sanciones previstas en la ley en caso de falsedad o perjurio.
        </div>
    </div>
    <div class="col-12">
        <ngb-tabset #pasosSuperiores (tabChange)="changeTabActiveSuperior($event)">
            <ngb-tab title="Paso I. Información de la Persona Natural / Jurídica" id="pasoI">
                <ng-template ngbTabContent>
                    <app-ruc-data [user]="user" [editable]="isEditable" (ruc_validated)="ruc_validated($event)" (next_page_button_click)="change_page_button_click($event)"></app-ruc-data>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Paso II. Información del Establecimiento" id="pasoII" *ngIf="data_selected.ruc.id != 0">
                <ng-template ngbTabContent>
                    <app-establishment-list-data [ruc_number]="user.ruc" [ruc_code_id]="data_selected.register.establishment_ruc_code" (establishment_selected)="establishmentSelected($event)"></app-establishment-list-data>
                    <ngb-tabset #pasos (tabChange)="changeTabActive($event)" *ngIf="mostrarPasosInferiores">
                        <ngb-tab title="Paso 1.- Datos Generales del Establecimiento" id="paso1">
                            <ng-template ngbTabContent>
                                <app-establishment-data [ruc]="data_selected.ruc" [editable]="isEditable" [establishment]="data_selected.establishment" (establishment_validated)="establishment_validated($event)" (preview_page_button_click)="change_page_button_click($event)" (next_page_button_click)="change_page_button_click($event)"></app-establishment-data>
                            </ng-template>
                        </ngb-tab> 
                        <ngb-tab title="Paso 2.- Declaración de la Contribución Uno por Mil" id="paso2" *ngIf="mostrarDeclarations">
                            <ng-template ngbTabContent>
                                <app-pay-list-data [ruc_number]="user.ruc"></app-pay-list-data>
                                <app-declaration-data [ruc]="data_selected.ruc" [is_new_register]="data_selected.is_new_register" [establishment]="data_selected.establishment" (canContinue)="showTuristicInformation($event)" (preview_page_button_click)="change_page_button_click($event)" (next_page_button_click)="change_page_button_click($event)"></app-declaration-data>
                            </ng-template>
                        </ngb-tab> 
                        <ngb-tab title="Paso 3.- Información Turística del Establecimiento" id="paso3" *ngIf="mostrarInformacionTuristica">
                            <ng-template ngbTabContent>
                                <app-turistic-data></app-turistic-data>
                            </ng-template>
                        </ngb-tab> 
                    </ngb-tabset>  
                </ng-template>
            </ngb-tab> 
        </ngb-tabset>
    </div>
    <div class="col-12">
        <div class="alert alert-warning mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Declaración Juramentada</strong></label>
            <p class="col-12 text-justify"></p>Declaro, bajo juramento, que los datos consignados en éste sistema reflejan la realidad y autorizo al Ministerio de Turismo a verificar la información en cualquier momento, al tiempo que me sujeto, a las sanciones previstas en la ley en caso de falsedad o perjurio.
        </div>
    </div>
</div>