<div class="row mt-2 mb-5">
    <h1 class="col-12 text-right">
       Gestión de Actividades Turísticas
    </h1>
</div>

<app-agreement-data [user]="user" *ngIf="mostrarTerminosCondiciones" (checkAgreement)="checkTerminosCondiciones($event)"></app-agreement-data>
<app-registers-data [user]="user" *ngIf="terminosCondiciones" (register_selected)="validateRegisterSelectedData($event)"></app-registers-data>
<app-options-data *ngIf="mostrarOpciones" [register_state]="estado_registro" [register_activity]="actividadSelected" (select_option)="changeSelectedOption($event)"></app-options-data>

<div class="row" *ngIf="mostrarIngresoDatos">
    <div class="col-12 text-left">
        <h3>Datos:</h3>
    </div>
    <div class="col-12">
        <ngb-tabset #pasosSuperiores (tabChange)="changeTabActiveSuperior($event)">
            <ngb-tab title="Paso I. Información de la Persona Natural / Jurídica" id="pasoI">
                <ng-template ngbTabContent>
                    <app-ruc-data [user]="user" [editable]="true" (ruc_validated)="ruc_validated($event)" (next_page_button_click)="next_page_button_click($event)"></app-ruc-data>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Paso II. Información del Establecimiento" id="pasoII" *ngIf="data_selected.ruc.id != 0">
                <ng-template ngbTabContent>
                    <app-establishment-list-data [ruc_number]="user.ruc" [ruc_code_id]="data_selected.register.establishment_ruc_code" (establishment_selected)="establishmentSelected($event)"></app-establishment-list-data>
                    <ngb-tabset #pasos (tabChange)="changeTabActive($event)">
                        <ngb-tab title="Paso 1.- Datos Generales del Establecimiento" id="paso1" #paso1>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <app-establishment-data></app-establishment-data>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 text-center">
                                        <button type="button" class="btn btn-info mr-2" title="Anterior" (click)="pasosSuperiores.select('pasoI')">
                                            <i class="fas fa-arrow-left"></i>&nbsp;Anterior
                                        </button>
                                        <button type="button" class="btn btn-success" title="Guardar Datos" (click)="guardarEstablecimiento()">
                                            <i class="fas fa-save"></i>&nbsp;Guardar Datos
                                        </button>
                                        <button type="button" class="btn btn-danger ml-2" title="Cancelar Cambios" (click)="
                                            refresh()
                                            ">
                                            <i class="fas fa-trash"></i>&nbsp;Cancelar Cambios
                                        </button>
                                        <button type="button" class="btn btn-info ml-2" title="Siguiente" (click)="pasos.select('paso2')">
                                            <i class="fas fa-arrow-right"></i>&nbsp;Siguiente
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab> 
                        <ngb-tab title="Paso 2.- Declaración de la Contribución Uno por Mil" id="paso2">
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <app-declaration-data></app-declaration-data>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button type="button" class="btn btn-info mr-2" title="Anterior" (click)="pasos.select('paso1')">
                                            <i class="fas fa-arrow-left"></i>&nbsp;Anterior
                                        </button>
                                        <button type="button" class="btn btn-info ml-2" title="Siguiente" (click)="pasos.select('paso3')">
                                            <i class="fas fa-arrow-right"></i>&nbsp;Siguiente
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab> 
                        <ngb-tab title="Paso 3.- Información Turística del Establecimiento" id="paso3">
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <app-turistic-data></app-turistic-data>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button type="button" class="btn btn-info mr-2" title="Anterior"
                                          (click)="pasos.select('paso2')">
                                          <i class="fas fa-arrow-left"></i>&nbsp;Anterior
                                        </button>
                                        <button type="button" class="btn btn-success" title="Enviar Solicitud"
                                          (click)="guardarRegistro()">
                                          <i class="fas fa-paper-plane"></i>&nbsp;Enviar Solicitud
                                        </button>
                                        <button type="button" class="btn btn-danger ml-2" title="Cancelar Cambios" (click)="
                                            refresh()
                                          ">
                                          <i class="fas fa-trash"></i>&nbsp;Cancelar Cambios
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab> 
                    </ngb-tabset>  
                </ng-template>
            </ngb-tab> 
        </ngb-tabset>
    </div>
</div>

