<div class="row">
    <h1 class="col-12 text-right">
       Registros - MINTUR
    </h1>
    <div class="col-12">
       <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-primary" title="Actualizar" (click)="refresh()">
                    <i class="fas fa-sync"></i>
                </button>
            </div>
            <div class="btn-group mr-2" role="group">
                <input *ngIf="config.filtering" placeholder="Buscar..." [ngTableFiltering]="config.filtering" class="form-control" (input)="onChangeTable(config)"/>
            </div>
            <div class="btn-group mr-2" role="group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i>&nbsp;Bandejas</span>
                    </div>
                    <select class="form-control" id="filter-tramite-estado" name="filter-tramite-estado" [(ngModel)]="idTramiteEstadoFilter" (change)="filterByTramiteState()">
                        <option value="0" selected>Todas</option>
                        <option *ngFor="let tramite_state of estados_tramites" value="{{tramite_state.id}}">{{tramite_state.name}}</option>
                    </select>
                    <div class="input-group-append" *ngIf="idTramiteEstadoFilter>0">
                        <select class="form-control" id="filter-tramite-estado" name="filter-tramite-estado" [(ngModel)]="tramite" (change)="filterByTramiteState(tramite)">
                            <option value="-" selected>Todas</option>
                            <option value="Registro" selected>Registro</option>
                            <option value="Reclasificación" selected>Reclasificación</option>
                            <option value="Recategorización" selected>Recategorización</option>
                            <option value="Actualización" selected>Actualización</option>
                            <option value="Inactivación" selected>Inactivación</option>
                            <option value="Reingreso" selected>Reingreso</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2" style="width: 100%; overflow-x: auto;">
        <ng-table
            [config]="config"
            (cellClicked)="onCellClick($event)"
            (tableChanged)="onChangeTable(config)"
            [rows]="rows"
            [columns]="columns">
        </ng-table>
    </div>
    <div class="col-12">
        <ngb-pagination
            *ngIf="config.paging"
            [(page)]="currentPageMinturRegisters"
            [pageSize]="recordsByPageRegisterMintur"
            [maxSize]="10"
            [boundaryLinks]="true"
            (pageChange)="onChangeTable(config, $event)"
            [collectionSize]="data.length">
            <ng-template ngbPaginationFirst>Primera</ng-template>
            <ng-template ngbPaginationPrevious>Anterior</ng-template>
            <ng-template ngbPaginationNext>Siguiente</ng-template>
            <ng-template ngbPaginationLast>Última</ng-template>
        </ngb-pagination>
    </div>
</div>