<div class="row mt-3">
    <h4 class="col-12">
        <strong>Capacidades del Establecimiento</strong>
    </h4>
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Año</span>
            </div>
            <select class="form-control" id="year_id" name="year_id" [(ngModel)]="selected_year" [disabled]="is_new_register" (change)="yearCapacity()">
                <option value="0" selected>Seleccione...</option>
                <option *ngFor="let year of years" value="{{ year.value }}">
                    {{ year.value }}
                </option>
            </select>
        </div>
    </div>
    <div class="col-12">
        <div class="alert alert-info mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Atención</strong></label>
            <p class="col-12 text-justify">Habitación doble (matrimonial): Permite la pernoctación y alojamiento de dos personas, ocupando una cama doble o dos camas individuales.</p>
            <p class="col-12 text-justify">PAX: Referente a pasajeros.</p>
            <p class="col-12 mt-2 text-justify" *ngIf="register.register_type_id == 31 || register.register_type_id == 45">- Debe contar un mínimo 2 y máximo 4 habitaciones, sumando todas habitaciones de las tipologías de habitaciones permitidas para esta clasificación.</p>
            <p class="col-12 text-justify" *ngIf="register.register_type_id == 31 || register.register_type_id == 45">- Debe contar un máximo de 6 plazas, sumando todas las plazas de todas las tipologías de habitaciones permitidas para esta clasificación</p>
        </div>
    </div>
    <div class="col-12">
        <label class="col-form-label mb-2"><strong>Habitaciones del Establecimiento</strong>
            <span class="ml-2 mr-2 badge badge-info">Total de Habitaciones: {{register.total_habitations}}</span>
            <span class="mr-2 badge badge-info">Total de Camas: {{register.total_beds}}</span>
            <span class="mr-2 badge badge-info">Total de Plazas: {{register.total_spaces}}</span>
            <span class="badge badge-danger" *ngIf="!validateHabitaciones()">Incorrecto</span>
        </label>
    </div>
    <div class="col-12">
        <table class="table table-hover mt-2">
            <thead>
                <th>
                    <button type="button" title="Agregar" *ngIf="selected_year >= currentYear" class="btn btn-success ml-2" (click)="addCapacity()" [disabled]="!editable">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </th>
                <th>Tipo</th>
                <th>Habitaciones</th>
                <th>Camas Por Habitación</th>
                <th>Plazas</th>
                <th>Opciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let capacity of capacitiesToShow" (click)="selectCapacity(capacity)">
                    <td class="text-right">
                        <span *ngIf="capacity.capacity_type_id == 0 || capacity.quantity == 0" class="ml-2 badge badge-danger">Incorrecto</span>
                    </td>
                    <td>
                        <select class="form-control" id="capacity_type_id" name="capacity_type_id" [(ngModel)]="capacity.capacity_type_id" (change)="refreshMaxBed(capacity)" [disabled]="selected_year < currentYear || (!capacity.isNewCapacity && (!canEditCapacity || !editable))">
                            <option value="0" selected>Seleccione...</option>
                            <option *ngFor="let capacity_type of allowed_capacity_types" value="{{ capacity_type.id }}">
                                {{ capacity_type.name }}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control" min="0" max="9999" id="count_space" name="count_space" (input)="calcSpaces(capacity)" placeholder="Cantidad" [(ngModel)]="capacity.quantity" [disabled]="selected_year < currentYear || (!capacity.isNewCapacity && (!canEditCapacity || !editable))"/>
                    </td>
                    <td>
                        <input type="number" class="form-control" min="0" max="9999" id="count_camas" name="count_camas" (input)="calcSpaces(capacity)" placeholder="Cantidad de Camas" [(ngModel)]="capacity.max_beds" [disabled]="continuarTarifarioRack || (selected_year < currentYear) || !capacity.isNewCapacity || canEditCapacity || !editable || !capacity.editable_beds"/>
                    </td>
                    <td>
                        <input type="number" class="form-control" min="0" max="9999" id="count_plazas" name="count_plazas" (input)="calcSpaces(capacity)" placeholder="Cantidad de Plazas" [(ngModel)]="capacity.max_spaces" [disabled]="continuarTarifarioRack || (selected_year < currentYear) || !capacity.isNewCapacity || canEditCapacity || !editable || !capacity.editable_spaces"/>
                    </td>
                    <td>
                        <button type="button" title="Eliminar" class="btn btn-danger" (click)="removeCapacity(capacity)" [disabled]="!editable">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-3" *ngIf="tarifarioRack.valores.length > 0">
    <h4 class="col-12">
        <strong class="mr-1">Tarifario RACK</strong>
        <span class="badge badge-danger" *ngIf="!validateTarifarioRackIngresado()">Incorrecto</span>
    </h4>
    <div class="col-12">
        <div class="alert alert-info mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Atención</strong></label>
            <p class="col-12 text-justify">Estimado Usuario, antes de continuar recuerde lo siguiente:</p>
            <p class="col-12 text-justify">- Para registrar las tarifas en esta tipología de habitación, es necesario que su establecimiento cuente con la declaración de dichas habitaciones, por favor revise las "Capacidades del establecimiento" que se encuentran en la sección anterior.</p>
            <p class="col-12 text-justify">- Registrar la tarifa de habitación por noche incluyendo IVA.</p>
            <p class="col-12 text-justify">- Por ley, todos los establecimientos de alojamiento prestadores de servicios al turismo y registrados ante el Ministerio de Turismo deben declarar las tarifas rack hasta el 01 de diciembre de cada año y exhibirlo en el año de vigencia.</p>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group mt-3">
            <label class="col-12"><strong>Continuar con el ingreso del Tarifario Rack.</strong></label>
            <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox"  id="tarifRackswitch" (change)="continuarIngresoTarifarioRack()" name="tarifRackswitch" [(ngModel)]="continuarTarifarioRack">
                <label class="onoffswitch-label" for="tarifRackswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3" *ngIf="continuarTarifarioRack">
    <div class="col-12">
        <table class="table table-hover mt-2">
            <thead>
                <th *ngFor="let tariff of tariffsToShow.cabecera" class="col-12 text-center">
                    {{tariff.valor}}
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let tariffRack of tariffsToShow.valores">
                    <td>
                        <select class="form-control" id="capacity_type_id" name="capacity_type_id" [(ngModel)]="tariffRack.idTipoCapacidad" [disabled]="true">
                            <option value="0" selected>Seleccione...</option>
                            <option *ngFor=" let capacity_type of allowed_capacity_types" value="{{ capacity_type.id }}">
                                {{ capacity_type.name }}
                            </option>
                        </select>
                    </td>
                    <td *ngFor="let tariff of tariffRack.tariffs">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">USD</span>
                            </div>
                            <input type="number" class="form-control" min="0" step="0.01" id="low_capacity_room_price" name="low_capacity_room_price" [(ngModel)]="tariff.tariff.price" placeholder="Precio" (input)="checkValuesTariffs()" [disabled]="selected_year < currentYear || (!tariff.tariff.isNewTariff && selected_year == currentYear) || (!tariff.isReference && tariff.plazasHabitacion !== 999)"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>