<div class="row mt-3" *ngIf="classification_selected_code == '1.3' || classification_selected_code == '1.4' || classification_selected_code == '2.3' || classification_selected_code == '2.4'">
    <div class="col-12">
        <h4>
            <strong>Compañías de Transporte Turístico</strong>
        </h4>
    </div>
    <small class="col-12">
        <div class="alert alert-info mt-2 mb-2" role="alert">
            <label class="col-12 text-justify"><strong>Información</strong></label>
            <p class="col-12 text-justify">Registrar Compañía de Transporte Turístico contratado por el establecimiento.</p>
        </div>
    </small>
    <div class="col-12">
        <div class="form-group">
            <label>Declaro que el establecimiento, al momento del envío de la solicitud, ha firmado un contrato con una Compañía de Transporte Turístico</label>
            <div class="col-12">
                <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox"  id="companiaTransporteSwitch" name="companiaTransporteSwitch" [(ngModel)]="companiaTransporteSwitch" [disabled]="!editable"/>
                    <label class="onoffswitch-label" for="companiaTransporteSwitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="companiaTransporteSwitch">
        <table class="table table-hover mt-2">
            <thead>
                <th colspan="7">
                    <button type="button" title="Agregar Compañía de Transporte" class="btn btn-success" (click)="addCompaniaTransporte(content_turistic_transport)" [disabled]="!editable">
                        <i class="fas fa-plus-square"></i>&nbsp;Agregar Compañía de Transporte Turístico
                    </button>
                </th>
            </thead>
            <thead>
                <th>RUC</th>
                <th>Razón Social</th>
                <th>Tipo Contribuyente</th>
                <th *ngIf="!editable">Número de Registro</th>
                <th *ngIf="!editable">Fecha de Registro</th>
                <th>Opciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let transport_company of register.transport_companies">
                    <td>{{transport_company.ruc}}</td>
                    <td>{{transport_company.social_name}}</td>
                    <td>
                        <span *ngIf="transport_company.tax_payer_type_id == 1">Persona Natural</span>
                        <span *ngIf="transport_company.tax_payer_type_id == 2">Persona Jurídica</span>
                    </td>
                    <td *ngIf="!editable">
                        <span *ngIf="transport_company.register_code != ''">{{transport_company.register_code}}</span>
                        <span class="badge badge-danger" *ngIf="transport_company.register_code == ''">Guía No Registrado</span>
                    </td>
                    <td *ngIf="!editable">
                        <span *ngIf="transport_company.register_code != ''">{{transport_company.register_date | date: 'y-MM-dd'}}</span>
                        <span class="badge badge-danger" *ngIf="transport_company.register_code == ''">Compañía de Transporte No Registrada</span>
                    </td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group mr-2" role="group">
                                <button [disabled]="!editable" type="button" title="Editar" class="btn btn-warning" (click)="editCompaniaTransporte(content_turistic_transport, transport_company)">
                                    <i class="fas fa-edit" ></i>
                                </button>
                                <button [disabled]="!editable" type="button" title="Eliminar" class="btn btn-danger" (click)="deleteCompaniaTransporte(transport_company)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #content_turistic_transport let-modal>
    <div class="modal-header">
        <h3>Compañía de Transporte Turístico</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Número de RUC</label>
                    <span *ngIf="!rucValidatedTuristicTransport" class="ml-2 badge badge-danger">Incorrecto</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-primary" title="Consultar con SRI" (click)="checkRucTuristicTransport()">
                                <i class="fas fa-sync"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" id="ruc" maxlength="13" placeholder="Número de RUC" [(ngModel)]="newTuristicTransport.ruc" (keyup)="checkRucTuristicTransport()" name="ruc" />
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="alert alert-info mt-2 mb-2" role="alert">
                    <label class="col-12 text-justify"><strong>Atención</strong></label>
                    <p class="col-12 text-justify">La información presentada a continuación es proporcionada por el Servicio de Rentas Internas, esta sección tiene carácter informativo, por favor si desea
                    actualizarla debe realizar el trámite en la entidad correspondiente</p>
                    <p class="col-12 text-justify"><a href="https://srienlinea.sri.gob.ec/" target="_blank">Ir al Sitio Web del SRI</a></p>
                </div>
            </div>
            <div class="col-12" *ngIf="rucValidatedTuristicTransport">
                <div class="form-group">
                    <label>DATOS DEL SRI</label>
                    <div class="col-12 text-justify" [innerHTML]="rucDataTuristicTransport"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Guardar click')" [disabled]="newTuristicTransport.transport_type_id == 0 || newTuristicTransport.activity_transport_type_id == 0 || !rucValidatedTuristicTransport">
            Guardar
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancelar click')">
            Cancelar
        </button>
    </div>
</ng-template>